.form__fieldset {
  margin: auto auto;
  border: none;
  display: flex;
  flex-direction: column;
  max-width: 385px;
  padding-bottom: 120px;
}

.form__label {
  text-align: left;
  font-weight: 500;
}

.form__input {
  margin: 8px 0 32px 0;
  display: block;
  height: 60px;
  max-width: 385px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__checkbox-label {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-weight: 500;
}

.form__checkbox {
  margin: 0;
  height: 20px;
  width: 20px;
  border-radius: 2px;
}

.form__button {
  height: 60px;
  border-radius: 4px;
  margin: 0 0 32px 0;
  opacity: 100%;
  font-weight: 500;
  background-color: #2f80ed;
  color: #fff;
}

.form__button:hover {
  opacity: 70%;
  transition: opacity 0.3s linear;
}
