.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  padding: 30px 80px 0 0;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.nav__link:hover {
  color: #2f80ed;
  transition: color 0.3s linear;
}
